<% layout('layouts/boilerplate') -%>
<h1>Edit Post</h1>

<form 
  method="POST" 
  action="/posts/<%= post.id %>?_method=PUT" 
  id="postEditForm"
  enctype="multipart/form-data"
  >
  <div>
    <input type="text" name="post[title]" value="<%= post.title %>" placeholder="Title" >
  </div>
  <div>
    <input type="text" name="post[price]" value="<%= post.price %>" placeholder="Price" >
  </div>
  <div>
    <input type="file" id="imageUpload" accept="images/*" name="images" multiple >
    <!-- images in the post-->
    <div>
      <% post.images.forEach((image, i)=>{ %> 

        <img src="<%= image.url %>" alt="postimage" width="80px">
        <label for="image<%= i %>">Delete?</label>
        <input 
          type="checkbox" 
          name="deleteImages[]" 
          id="image<%= i %>" 
          class="imageDeleteCheckbox"
          value="<%= image.public_id %>"
          >

      <% }); %>
    <!-- End images in the post -->
    </div>
  </div>
  
  <div>
    <textarea name="post[description]" id="" placeholder="Description" ><%= post.description %></textarea>
  </div>
  <div>
    <input type="text" name="post[location]" value="<%= post.location %>" placeholder="Location" >
  </div>
  <div>
    <input type="submit" value="Edit now">
  </div>
    
</form>

<script src="/javascripts/postEdit.js"></script>

