<% layout('layouts/boilerplate') -%>

<h1>Posts index</h1>
<!-- pagination -->
<% include ../partials/paginatePostsPartial %>

<% posts.docs.forEach((post)=> { %>
  <div>
    <h2><%= post.title %></h2>
    <div>Price: <%= post.price %></div>
    <div><%= post.description %></div>
    <div><%= post.location %></div>
    <div> <a href="/posts/<%= post.id %>">View post</a> </div>
  </div>
<% }); %>

<!-- pagination -->
<% include ../partials/paginatePostsPartial %>

