<% layout('layouts/post-show-layout') -%>

<h1><%= post.title %></h1>
<div class="">Price: <%= post.price %></div>
<div class=""><%= post.description %></div>
<div class=""><%= post.location %></div>
<div class="">
  <% post.images.forEach(image=> { %>
    <img src="<%= image.url %>" alt="" width="200px">
  <% }) %>
</div>
<!-- MAP -->
<div id='map'></div>
<!-- END Map -->
<div> 
  <a href="/posts/<%= post.id %>/edit">
    <button>Edit post</button>
  </a> 
</div>
<div> 
  <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
  </form>
</div>

<h2>Reviews</h2>
<h2>Create a review</h2>
<form action="/posts/<%= post.id %>/reviews" method="post">
  <div>
    <textarea name="review[body]" id=""></textarea>
  </div>
  <div>
    <fieldset class="starability-basic">
      <legend>Rating:</legend>
      <button type="button" class="clear-rating">Clear rating</button>
      <input type="radio" id="rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
      <input type="radio" id="rate1" name="review[rating]" value="1" />
      <label for="rate1" title="Terrible">1 star</label>
      <input type="radio" id="rate2" name="review[rating]" value="2" />
      <label for="rate2" title="Not good">2 stars</label>
      <input type="radio" id="rate3" name="review[rating]" value="3" />
      <label for="rate3" title="Average">3 stars</label>
      <input type="radio" id="rate4" name="review[rating]" value="4" />
      <label for="rate4" title="Very good">4 stars</label>
      <input type="radio" id="rate5" name="review[rating]" value="5" />
      <label for="rate5" title="Amazing">5 stars</label>
    </fieldset>
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
<!-- dipslay all reviews -->
<h3>Reviews</h3>
<% post.reviews.forEach(function(review){ %>
  <div>
    Author: <%= review.author.username %> <br>
    <%= review.body %> <br>
    Rating: <%= review.rating %>
    <!-- check if user is autorized to edit review -->
    <% if(review.author.equals(currentUser._id)){ %>
      <div>
        <button class="toggle-edit-form">Edit</button>
        <form 
          action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=PUT" 
          method="post"
          class="edit-review-form"
          >
          <div>
            <textarea name="review[body]" id=""><%= review.body %></textarea>
          </div>
          <div>
            <fieldset class="starability-basic">
              <legend>Rating:</legend>
              <button type="button" class="clear-rating">Clear rating</button>
              <input type="radio" id="edit-rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
              <input type="radio" id="edit-rate1" name="review[rating]" value="1" />
              <label for="edit-rate1" title="Terrible">1 star</label>
              <input type="radio" id="edit-rate2" name="review[rating]" value="2" />
              <label for="edit-rate2" title="Not good">2 stars</label>
              <input type="radio" id="edit-rate3" name="review[rating]" value="3" />
              <label for="edit-rate3" title="Average">3 stars</label>
              <input type="radio" id="edit-rate4" name="review[rating]" value="4" />
              <label for="edit-rate4" title="Very good">4 stars</label>
              <input type="radio" id="edit-rate5" name="review[rating]" value="5" />
              <label for="edit-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div>
            <input type="submit" value="Update">
          </div>
        </form>
        <!-- set checked for review -->
        <script>
          document.querySelector("#edit-rate<%= review.rating %>").setAttribute('checked', true)
        </script>
        <!-- Delete a review -->
        <form 
          action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=DELETE" 
          method="post"
          >
          <div>
            <input type="submit" value="Delete">
          </div>
        </form>
      </div>
    <% } %>
    <hr>
  </div>
  
<% }) %>