<% layout('layouts/post-show-layout') -%>

<h1><%= post.title %></h1>
<div class="">Price: <%= post.price %></div>
<div class=""><%= post.description %></div>
<div class=""><%= post.location %></div>
<div class="">
  <% post.images.forEach(image=> { %>
    <img src="<%= image.url %>" alt="" width="200px">
  <% }) %>
</div>
<!-- MAP -->
<div id='map'></div>
<!-- END Map -->
<div> 
  <a href="/posts/<%= post.id %>/edit">
    <button>Edit post</button>
  </a> 
</div>
<div> 
  <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
  </form>
</div>

